@model SportObjectsReservationSystem.Models.Reservation
 
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
 
<div>
    <h4>SportObject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model =>  model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date.Object.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date.Object.City))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date.Object.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date.Object.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date.Object.BuildingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date.Object.BuildingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date.IsReserved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date.IsReserved)
        </dd>

        
        
        
 
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>